<h1> Add Project </h1>
<%= form_for :project, url:projects_path do |p| %>
  <p>
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </p>

  <p>
    <%= p.label :body %><br>
    <%= p.text_area :body %>
  </p>

  <p>
     <%= p.submit %>
  </p>

<% end %>
